{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />
{% endblock %}

{% block content %}

    <main>

        <!-- TITLE SECTION -->

        <div class="container-fluid pt-5 title-section py-3 justify-content-center position-relative">
            <h1>Mettez à jour votre profil</h1>
        </div>
        <div class="wave wave-title"></div>

        <!-- FORM SECTION -->
        <div class="container-fluid" id="registration-form-container">
            <div class="row flex-column text-center align-items-center justify-content-center pt-5">
                <p>Si vous souhaitez être le plus visible possible auprès des recruteurs, essayez de remplir votre profil au maximum !</p>
                {{ form_start(userFormView, {'attr':
                    {'class': 'registration-form p-3'}}) }}

                <div class="form-errors row align-items-center justify-content-center">
                    {{ form_errors(userFormView) }}
                </div>

                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.firstName, {'attr':
                            {'placeholder': 'Votre prénom...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.lastName, {'attr':
                            {'placeholder': 'Votre nom...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.gender) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.email, {'attr':
                            {'placeholder': 'Votre email...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.phone, {'attr':
                            {'placeholder': 'Votre téléphone...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.city, {'attr':
                            {'placeholder': 'Votre ville...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.postalCode, {'attr':
                            {'placeholder': 'Votre code postal...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-6">
                        {{ form_row(userFormView.speciality, {'attr':
                            {'placeholder': 'Poste actuel ou recherché...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-6">
                        {{ form_row(userFormView.experience) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.degree, {'attr':
                            {'placeholder': 'Dernier diplome obtenu...'}}) }}
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                        {{ form_row(userFormView.degreeYear, {'attr':
                            {'placeholder': 'Année'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.school, {'attr':
                            {'placeholder': 'Ecole, organisme...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="px-4">
                            <div class="avatar-profile">
                                {% if app.user.imageName %}
                                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('avatar') }}" alt="Photo de profil {{ app.user.firstName }} {{ app.user.lastName }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/avatar/avatar' ~ variable ~ '.png') }}" alt="Avatar Find My Dev">
                                {% endif %}
                            </div>
                    </div>
                    <div>
                        {{ form_row(userFormView.imageFile, {'attr':
                            {'placeholder': 'Ajoutez votre photo'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.resume, {'attr':
                            {'placeholder': 'Dites-en un peu plus sur vous...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-6 col-sm-4">
                        <i class="fas fa-globe"></i>
                        {{ form_row(userFormView.website, {'attr':
                        {'placeholder': 'Votre site, portfolio...'}}) }}
                    </div>
                    <div class="col-6 col-sm-4">
                        <p><i class="fab fa-linkedin"></i> https://www.linkedin.com/in/</p>
                        {{ form_row(userFormView.linkedin, {'attr':
                            {'placeholder': 'Votre identifiant LinkedIn...'}}) }}
                    </div>
                    <div class="col-6 col-sm-4">
                        <p><i class="fab fa-github"></i> https://github.com/</p>
                        {{ form_row(userFormView.github, {'attr':
                        {'placeholder': 'Votre identifiant GitHub...'}}) }}
                    </div>
                    <div class="col-6 col-sm-4">
                        <p><i class="fab fa-twitter-square"></i> https://twitter.com/</p>
                        {{ form_row(userFormView.twitter, {'attr':
                        {'placeholder': 'Votre identifiant Twitter...'}}) }}
                    </div>
                    <div class="col-6 col-sm-4">
                        <p><i class="fab fa-facebook-square"></i> https://www.facebook.com/</p>
                        {{ form_row(userFormView.facebook, {'attr':
                        {'placeholder': 'Votre identifiant Facebook...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.currentJob, {'attr':
                            {'placeholder': 'Société, freelance, sans emploi...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.lookingForJob) }}
                    </div>
                </div>
                {% for skill in skills %}
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-sm-8">
                            {{ form_rest(userFormView) }}
                        </div>
                    </div>
                {% endfor %}
                <button class="btn-fiche">Enregistrer les modifications</button>
                {{ form_end(userFormView) }}
            </div>
        </div>

    </main>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha256-wfVTTtJ2oeqlexBsfa3MmUoB77wDNRPqT1Q1WA2MMn4=" crossorigin="anonymous"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}