{% extends 'base.html.twig' %}

{% block content %}

    <main>

        <!-- TITLE SECTION -->

        <div class="container-fluid pt-5 title-section py-3 justify-content-center position-relative">
            <h1>Mettez à jour votre profil</h1>
        </div>
        <div class="wave wave-title"></div>

        <!-- FORM SECTION -->
        <div class="container-fluid" id="registration-form-container">
            <div class="row flex-column text-center align-items-center justify-content-center pt-5">
                <p>Si vous souhaitez être le plus visible auprès des recruteurs, essayez de remplir votre profil au maximum !</p>
                {{ form_start(userFormView, {'attr':
                    {'class': 'registration-form p-3'}}) }}

                <div class="form-errors row align-items-center justify-content-center">
                    {{ form_errors(userFormView) }}
                </div>

                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.firstName, {'attr':
                            {'placeholder': 'Votre prénom...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.lastName, {'attr':
                            {'placeholder': 'Votre nom...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.gender) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.email, {'attr':
                            {'placeholder': 'Votre email...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.phone, {'attr':
                            {'placeholder': 'Votre téléphone...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.city, {'attr':
                            {'placeholder': 'Votre ville...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-4">
                        {{ form_row(userFormView.postalCode, {'attr':
                            {'placeholder': 'Votre code postal...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-6">
                        {{ form_row(userFormView.speciality, {'attr':
                            {'placeholder': 'Poste actuel ou recherché...'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-6">
                        {{ form_row(userFormView.experience) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="px-4">
                            <div class="avatar-profile">
                                {% if app.user.imageName %}
                                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('avatar') }}" alt="Photo de profil {{ app.user.firstName }} {{ app.user.lastName }}">
                                {% else %}
                                    <img src="{{ asset('assets/img/avatar/avatar' ~ variable ~ '.png') }}" alt="Avatar Find My Dev">
                                {% endif %}
                            </div>
                    </div>
                    <div>
                        {{ form_row(userFormView.imageFile, {'attr':
                            {'placeholder': 'Ajoutez votre photo'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.resume, {'attr':
                            {'placeholder': 'Dites-en un peu plus sur vous...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.currentJob, {'attr':
                            {'placeholder': 'Société, freelance, sans emploi...'}}) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-8">
                        {{ form_row(userFormView.lookingForJob) }}
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <p class="pt-4 pb-3">Afin de confirmer les modifications, veuillez saisir votre mot de passe.</p>
                    <div class="col-12 col-sm-8 col-md-6">
                        {{ form_row(userFormView.password, {'attr':
                            {'placeholder': 'Mot de passe'}}) }}
                    </div>
                    <div class="col-12 col-sm-8 col-md-6">
                        {{ form_row(userFormView.confirm_password, {'attr':
                            {'placeholder': 'Confirmez votre mot de passe'}}) }}
                    </div>
                </div>
                <button class="btn-fiche">Enregistrer les modifications</button>
                {{ form_end(userFormView) }}
            </div>
        </div>

    </main>

{% endblock %}