{% extends 'base.html.twig' %}

{% block content %}

    <main>

        <!-- TITLE SECTION -->

        <div class="container-fluid pt-5 title-section py-3 justify-content-center position-relative">
            <h1>Panneau d'administration</h1>
        </div>

        <div class="container-fluid d-flex p-0">
            <div class="row w-100 m-0">
                <aside class="aside-admin col-12 col-md-2">
                    <h3>Navigation</h3>
                    <div class="line"></div>
                    <h4>Blog</h4>
                    <h5 class="pl-3">Articles</h5>
                    <div class="btn-admin-pannel-container pl-3">
                        <a href="#" class="btn-admin-pannel d-inline-block"><i class="far fa-eye"></i></a>
                        <a href="{{ path('admin_article_new') }}" class="btn-admin-pannel d-inline-block"><i class="fas fa-plus"></i></a>
                    </div>
                    <h5 class="pl-3">Catégories</h5>
                    <div class="btn-admin-pannel-container pl-3">
                        <a href="{{ path('admin_category_show') }}" class="btn-admin-pannel d-inline-block"><i class="far fa-eye"></i></a>
                        <a href="{{ path('admin_category_new') }}" class="btn-admin-pannel d-inline-block"><i class="fas fa-plus"></i></a>
                    </div>
                    <div class="line"></div>
                    <h4>Utilisateurs</h4>
                    <h5 class="pl-3">Membres</h5>
                    <div class="btn-admin-pannel-container pl-3">
                        <a href="#" class="btn-admin-pannel d-inline-block"><i class="far fa-eye"></i></a>
                        <a href="#" class="btn-admin-pannel d-inline-block"><i class="fas fa-plus"></i></a>
                    </div>
                </aside>

                <div class="admin-container col-12 col-md-10">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}

                    <!-- ARTICLES SECTION-->

                    <h2>Gestion des articles</h2>
                    <table class="table table-articles">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th class="mobile-hidden">Auteur</th>
                            <th>Résumé</th>
                            <th class="mobile-hidden">Date d'ajout</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td class="mobile-hidden">{{ article.user.firstName }} {{ article.user.lastName }}</td>
                                <td>{{ article.shortDescription | slice(0, 30) }} [...]</td>
                                <td class="mobile-hidden">{{ article.createdAt|date('d/m/Y H') }}h{{ article.createdAt|date('i') }}</td>
                                <td>
                                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn-admin-pannel tip"><i class="far fa-eye"></i><span>Voir</span></a>
                                    <a href="{{ path('admin_article_update', {'id': article.id}) }}" class="btn-admin-pannel tip"><i class="fas fa-edit"></i><span>Modifier</span></a>
                                    <a href="{{ path('admin_article_delete', {'id': article.id}) }}" class="btn-admin-pannel btn-delete tip"><i class="fas fa-times"></i><span>Supprimer</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="admin-btn-container d-flex justify-content-center mb-3">
                        <a href="{{ path('blog') }}" class="btn-fiche btn-admin-aside">Voir les articles</a>
                        <a href="{{ path('admin_article_new') }}" class="btn-fiche btn-admin-aside">Ajouter un article</a>
                    </div>

                    <!-- CATEGORIES SECTION-->

                    <h2>Gestion des catégories</h2>
                    <table class="table table-catgories">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a href="{{ path('admin_category_show', {'id': category.id}) }}" class="btn-admin-pannel tip"><i class="far fa-eye"></i><span>Voir</span></a>
                                    <a href="{{ path('admin_category_update', {'id': category.id}) }}" class="btn-admin-pannel tip"><i class="fas fa-edit"></i><span>Modifier</span></a>
                                    <a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn-admin-pannel btn-delete tip"><i class="fas fa-times"></i><span>Supprimer</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="admin-btn-container d-flex justify-content-center mb-3">
                        <a href="{{ path('admin_category_show') }}" class="btn-fiche btn-admin-aside">Voir les catégories</a>
                        <a href="{{ path('admin_category_new') }}" class="btn-fiche btn-admin-aside">Ajouter une catégorie</a>
                    </div>

                    <!-- MEMBERS SECTION-->

                    <h2>Gestion des membres</h2>
                    <table class="table table-users">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th class="mobile-hidden">Spécialité</th>
                            <th class="mobile-hidden">Expérience</th>
                            <th class="mobile-hidden">Cherche job</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td class="mobile-hidden">{{ user.speciality }}</td>
                                <td class="mobile-hidden">{{ user.experience }}</td>
                                <td class="mobile-hidden">
                                    {% if user.lookingForJob == 'true' %}
                                        <i class="fas fa-check btn-admin-pannel"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('member', {'id': user.id}) }}" class="btn-admin-pannel tip" title="Voir le membre"><i class="far fa-eye"></i><span>Voir</span></a>
                                    <a href="{{ path('update_member', {'id': user.id}) }}" class="btn-admin-pannel tip" title="Modifier le membre"><i class="fas fa-edit"></i><span>Modifier</span></a>
                                    <a href="#" class="btn-admin-pannel btn-delete tip" title="Supprimer le membre"><i class="fas fa-times"></i><span>Supprimer</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="admin-btn-container d-flex justify-content-center">
                        <a href="#" class="btn-fiche btn-admin-aside">Voir les membres</a>
                        <a href="#" class="btn-fiche btn-admin-aside">Ajouter un membre</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}
