{% extends 'base.html.twig' %}

{% block content %}

    <main id="article-show">

        <!-- TITLE SECTION -->

        <div class="container-fluid pt-5 title-section py-3 justify-content-center position-relative text-center">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="wave wave-title"></div>
        <div class="breadcrumb">
            <a class="breadcrumb-link" href="{{ path('index') }}">Accueil</a> > <a class="breadcrumb-link" href="{{ path('blog') }}">Blog</a> > <p class="breadcrumb-link {% if current_menu is defined and current_menu == 'article' %}active{% endif %}">{{ article.title }}</p>
        </div>

        <!-- ARTICLES SECTION -->

        <section class="container-fluid px-4 justify-content-center flex-column">
            <article class="col-12 d-flex align-items-center justify-content-center flex-column p-4 text-center articles">
                <p class="blog_date">Publié le {{ article.createdAt | date('d/m/Y') }}<br>par {{ article.user.firstName }} {{ article.user.lastName }}</p>
                <div class="img-article">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="" class="img-fluid">
                </div>
                <div class="article-description text-justify px-3">
                    <p class="mt-3 text-justify">{{ article.description | raw }}</p>
                </div>
            </article>
            <div class="btn-container d-flex justify-content-center align-items-center article-btn flex-column">
                <a href="{{ path('blog') }}" class="btn-fiche">Retour à la liste des articles</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-container d-flex justify-content-center align-items-center article-btn">
                        <a href="{{ path('admin_article_update', {'id': article.id}) }}" class="btn-admin-pannel"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_article_delete', {'id': article.id}) }}" class="btn-admin-pannel btn-delete"><i class="fas fa-times"></i></a>
                    </div>
                {% endif %}
            </div>
        </section>

    </main>

{% endblock %}
