{% extends 'base.html.twig' %}

{% block content %}

    <main>

        <!-- TITLE SECTION -->

        <div class="container-fluid pt-5 title-section py-3 justify-content-center position-relative">
            <h1>Liste des catégories</h1>
        </div>
        <div class="wave wave-title"></div>

        <!-- FORM -->

        <div class="container py-5" id="article-form-container">

            <table class="table table-users">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{{ path('admin_category_update', {'id': category.id}) }}" class="btn-admin-pannel tip" title="Modifier la catégorie"><i class="fas fa-edit"></i><span>Modifier</span></a>
                            <a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn-admin-pannel btn-delete tip" title="Supprimer la catégorie"><i class="fas fa-times"></i><span>Supprimer</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="admin-btn-container d-flex justify-content-center">
                <a href="{{ path('admin_category_new') }}" class="btn-fiche btn-admin-aside">Ajouter une catégorie</a>
                <a href="{{ path('admin') }}" class="btn-fiche btn-admin-aside">Retour à l'administration</a>
            </div>

        </div>

    </main>

{% endblock %}
