{% extends 'base.html.twig' %}


{% block content %}

    <main>

        <!-- Home head section -->

        <section class="bandeau bandeau-home">
            <div class="wave"></div>
            <hgroup>
                <h1><img src="{{ asset('assets/img/find-my-dev-logo.png') }}" alt="Find My Dev"></h1>
                <h2 class="text-apparition">La plateforme dédiée aux développeurs !</h2>
            </hgroup>
            <a href="#dev" class="button btn-slider btn-slider-1 scrollTo"><span>Je suis développeur !</span></a>
            <a href="#recruiter" class="button btn-slider btn-slider-2 scrollTo"><span>Je suis recruteur !</span></a>
            <a href="#dev" class="button btn-slider btn-slider-3 scrollTo"><span>En savoir plus</span></a>
        </section>

        <!-- Dev section -->

        <section id="dev" class="container-fluid text-center">
            <h2>Je suis développeur(euse),<br>c'est quoi le principe ?</h2>
            <div class="container-img-fluid">
                <img src="{{ asset('assets/img/visuels/developpeurs-brainstorming-find-my-dev.png') }}" alt="Developpeurs Find My Dev">
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12">
                        <p class="explication">Vous êtes développeur ?<br>
                            Vous sortez d'une école ou êtes autodidacte ?<br>
                            Quelle que soit votre expérience,<br>rejoignez <strong>Find My Dev</strong> et profitez d'une grande visibilité auprès des recruteurs !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-12 text-center flex-column presentation-home">
                        <h3>Vous cherchez de nouvelles opportunités dans votre domaine ?</h3>
                        <p>Complétez votre profil et devenez membre d'une communauté grandissante.</p>
                        <p><em class="px-2">" Seulement 10 jours après mon inscription, j'ai été contacté et recruté via la plateforme."<br>
                                Camille G.</em></p>
                        <a href="{{ path('security_registration') }}" class="btn-fiche" role="button">Je m'inscris !</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recruiter section -->

        <div class="wave-gris"></div>
        <section id="recruiter" class="container-fluid text-center">
            <h2>Je suis recruteur(euse),<br>c'est quoi le principe ?</h2>
            <div class="container-img-fluid">
                <img src="{{ asset('assets/img/visuels/recruteurs-brainstorming-find-my-dev.png') }}" alt="Recruteurs Find My Dev">
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12">
                        <p class="explication">Vous êtes à la recherche d'un développeur ?<br>
                            Faites votre recherche parmi tous nos membres pour trouver le développeur qui vous correspond.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-12 text-center flex-column presentation-home">
                        <h3>Vous cherchez de l'aide pour votre recrutement ?</h3>
                        <p>Les experts de <strong>Find My Dev</strong> se chargent de vous trouver la perle rare !</p>
                        <p><em class="px-2">" Grâce à Find My Dev, nous avons agrandi notre équipe en recrutant 2 développeurs."<br>
                        Pierre M.</em></p>
                        <a href="{{ path('members') }}" class="btn-fiche" role="button">Voir tous les dev</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="wave-gris wave-gris-reverse"></div>

        <!-- Members section -->

        <section id="members">
            <h2>Les nouveaux membres</h2>
            <div class="container-fluid">
                <div class="row m-0 p-2">
                    {% for user in users|sort|reverse|slice(0, 4) %}
                        <article class="member col-12 col-sm-6 col-md-4 col-lg-3 m-1">
                            <p class="name">{% include 'common/_random_adjectives.html.twig' %}<br>
                                <span>{{ user.firstName }} {{ user.lastName }}</span></p>
                            <div class="avatar">
                                {% if not user.imageName %}
                                    <img src="{{ asset('assets/img/avatar/avatar' ~ variable ~ '.png') }}" alt="Avatar Find My Dev">
                                {% endif %}
                                {% if user.imageName %}
                                    <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('avatar') }}" alt="Photo de profil {{ user.firstName }} {{ user.lastName }}">
                                {% endif %}
                            </div>
                            <p class="metier">{{ user.speciality }}<br>
                                <span>{{ user.experience }} d'expérience</span><br>
                                <span>{{ user.city }}</span></p>
                            <a href="{{ path('member',{'id': user.id}) }}" class="btn-fiche" role="button">Voir son profil</a>
                        </article>
                    {% endfor %}
                </div>
                <div class="row btn-members">
                    <img src="{{ asset('assets/img/avatar/avatar6.png') }}" alt="Avatar Find My Dev">
                    <a href="{{ path('members') }}" class="btn-fiche" role="button">Voir les {{ users | length }} membres</a>
                </div>
            </div>
        </section>

        <!-- Newsletter -->

        <div class="wave-gris"></div>
        <section id="newsletter" class="container-fluid">
            <h2>Abonnez-vous aux dernières news</h2>

            {{ form_start(newsletterFormView, {'attr':
                {'class': 'registration-form p-3'}}) }}
            {{ form_errors(newsletterFormView) }}
            <div class="row align-items-center justify-content-center flex-row text-center">
                <div class="col-12 col-sm-8 col-md-4 col-lg-3">
                    {{ form_row(newsletterFormView.firstName, {'attr':
                        {'placeholder': 'Votre prénom'}}) }}
                </div>
                <div class="col-12 col-sm-8 col-md-4 col-lg-3">
                    {{ form_row(newsletterFormView.email, {'attr':
                        {'placeholder': 'Votre email'}}) }}
                </div>
            </div>
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-12">
                    <button class="btn-fiche">Je m'abonne !</button>
                </div>
            </div>
            {{ form_end(newsletterFormView) }}
            {% for message in app.flashes('news-success') %}
                <div class="alert alert-success alert-news">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </section>

    </main>

{% endblock %}
