{% extends 'base.html.twig' %}

{% block content %}

    <main>

        <!-- Home head section -->

        <section class="bandeau bandeau-home">
            <div class="wave"></div>
            <hgroup>
                <h1><img src="{{ asset('assets/img/find-my-dev-logo.png') }}" alt="Find My Dev"></h1>
                <h2 class="text-apparition">La plateforme dédiée aux développeurs juniors !</h2>
            </hgroup>
            <a href="#dev" class="button btn-slider btn-slider-1 scrollTo"><span>Je suis développeur !</span></a>
            <a href="#recruiter" class="button btn-slider btn-slider-2 scrollTo"><span>Je suis recruteur !</span></a>
        </section>

        <!-- Dev section -->

        <section id="dev" class="container-fluid">
            <h2>Je suis développeur(euse) junior,<br>c'est quoi le principe ?</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="explication">Vous êtes développeur junior ?<br>
                            Vous sortez d'une école ou êtes autodidacte ?<br>
                            Créez votre profil sur <strong>Find My Dev</strong> pour être visibles par les recruteurs !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container-dev col-12 text-center">
                        <h3>Vous cherchez de l'aide pour votre projet ?</h3>
                        <p>Trouvez parmi nos members les profils qui vous intéressent et contactez-les via la plateforme.</p>
                        <p><em>Je suis écrivain et je cherche un illustrateur<br>
                                Je suis game développeur et je cheche un graphiste 2D/3D</em></p>
                        <a href="{{ path('security_registration') }}" class="btn-fiche" role="button">Je m'inscris !</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recruiter section -->

        <div class="wave-gris"></div>
        <section id="recruiter" class="container-fluid">
            <h2>Je suis recruteur(euse),<br>c'est quoi le principe ?</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="explication">Vous êtes à la recherche d'un développeur junior ?<br>
                            Faites votre recherche parmi tous nos membres pour trouver le développeur qui vous correspond !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container-principe col-12 text-center">
                        <h3>Vous cherchez de l'aide pour votre projet ?</h3>
                        <p>Trouvez parmi nos members les profils qui vous intéressent et contactez-les via la plateforme.</p>
                        <p><em>Je suis écrivain et je cherche un illustrateur<br>
                                Je suis game développeur et je cheche un graphiste 2D/3D</em></p>
                        <a href="{{ path('members') }}" class="btn-fiche" role="button">Voir tous les dev</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="wave-gris wave-gris-reverse"></div>

        <!-- Members section -->

        <section id="members">
            <h2>Les nouveaux membres</h2>
            <div class="container-fluid">
                <div class="row m-0 p-2">
                    {% for user in users|sort|reverse|slice(0, 4) %}
                        <article class="member col-12 col-sm-6 col-md-4 col-lg-3 m-1">
                            <p class="name">{% include 'common/_random_adjectives.html.twig' %}<br>
                                <span>{{ user.firstName }} {{ user.lastName }}</span></p>
                            <img src="{{ asset('assets/img/avatar/avatar' ~ variable ~ '.png') }}" alt="Avatar 1">
                            <p class="metier">{{ user.speciality }}<br>
                                <span>{{ user.experience }} d'expérience</span><br>
                                <span>{{ user.city }}</span></p>
                            <a href="{{ path('member',{'id': user.id}) }}" class="btn-fiche" role="button">Voir son profil</a>
                        </article>
                    {% endfor %}
                </div>
                <div class="row btn-members">
                    <img src="{{ asset('assets/img/avatar/avatar6.png') }}" alt="Avatar 5">
                    <a href="{{ path('members') }}" class="btn-fiche" role="button">Voir les {{ users | length }} membres</a>
                </div>
            </div>
        </section>

        <!-- Newsletter -->

        <div class="wave-gris"></div>
        <section id="newsletter" class="container-fluid">
            <h2>Abonnez-vous aux dernières news</h2>
            <form action="POST">
                <input type="email" name="email">
                <input type="submit" name="valider">
            </form>
        </section>

    </main>

{% endblock %}
