{% extends 'base.html.twig' %}

{% block content %}

    <main id="member">

        <!-- TITLE SECTION -->

        <div class="container-fluid pt-5 title-section py-3 justify-content-center position-relative text-center">
            <h1><span>{{ random(['L\'incroyable', 'L\'inimitable', 'L\'indomptable', 'L\'invincible', 'L\'irréductible',
                        'L\'intraitable', 'L\'irrésistible', 'L\'inégalable', 'L\'incomparable', 'L\'indestructible', 'L\'incollable',
                        'L\'incontournable', 'L\'incorrigible', 'L\'indispensable', 'L\'inébranlable', 'L\'inestimable', 'L\'infaillible',
                        'L\'inflexible', 'L\'immuable', 'L\'insatiable', 'L\'inévitable', 'L\'implacable', 'L\'incorruptible', 'L\'impassible',
                        'L\'imbattable', 'L\'inoubliable', 'L\'infatigable', 'L\'indémodable', 'L\'inclassable', 'L\'inépuisable', 'L\'impitoyable',
                        'L\'indétrônable', 'L\'indéfectible', 'L\'irréprochable', 'L\'insoupçonnable']) }}</span><br>
                {{ user.prenom }} {{ user.nom }}</h1>
        </div>
        <div class="wave wave-title"></div>

        <!-- MEMBER SECTION -->

        <section class="members">
            <article class="container member-cv mt-4">
                <div class="row">
                    <aside class="col-3 d-flex justify-content-start align-items-center flex-column">
                        <div class="member-avatar my-3">
                            <img src="{{ asset('assets/img/avatar/avatar3.png') }}" alt="Avatar 1">
                        </div>
                        <p class="member-subtitle">Infos</p>
                        <p>{{ user.experience }} d'expérience</p>
                        <p>{{ user.ville }}</p>
                    </aside>
                    <div class="container-fluid col-9">
                        <div class="row py-3 justify-content-center align-items-center flex-column text-center member-title">
                            <p class="member-name">{{ user.prenom }} {{ user.nom }}</p>
                            <p class="member-job">{{ user.specialite }}</p>
                            {%  if user.recherchePoste == 1 %}
                                <p class="member-search">à la recherche d'opportunités</p>
                            {% endif %}
                        </div>
                        <div class="row py-3 justify-content-center align-items-center flex-column text-center">
                            <p class="member-subtitle">A propos</p>
                            <p class="member-resume">{{ user.resume }}</p>
                        </div>
                    </div>
                </div>
            </article>
            <div class="container">
                <div class="row btn-members">
                    <img src="{{ asset('assets/img/avatar/avatar6.png') }}" alt="Avatar 5">
                    <a href="{{ path('members') }}" class="btn-fiche" role="button">Retour à la liste des membres</a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
